body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a:hover {
    color: gray;
}

form {
    max-width: 400px; /* Define a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
    padding: 20px; /* Adiciona espaçamento interno ao redor do formulário */
    background-color: #f9f9f9; /* Define a cor de fundo do formulário */
    border-radius: 5px; /* Adiciona cantos arredondados ao formulário */
}

label {
    display: block; /* Faz com que as etiquetas apareçam em uma nova linha */
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre as etiquetas */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Define a largura dos campos de entrada como 100% */
    padding: 10px; /* Adiciona espaçamento interno aos campos de entrada */
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre os campos de entrada */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor dos campos de entrada */
    border-radius: 3px; /* Adiciona cantos arredondados aos campos de entrada */
}

textarea {
    height: 100px; /* Define uma altura para o campo de texto */
}

button[type="submit"] {
    background-color: #007bff; /* Define a cor de fundo do botão de envio */
    color: #fff; /* Define a cor do texto do botão de envio */
    padding: 10px 20px; /* Adiciona espaçamento interno ao redor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 3px; /* Adiciona cantos arredondados ao botão */
    cursor: pointer; /* Altera o cursor para parecer um ponteiro ao passar o mouse sobre o botão */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}